html {
  font-size: calc(10px + 0.5vmin);
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h3 {
  font-size: 1.25rem;
}
button,
input {
  font-family: "Press Start 2P", cursive;
  padding: 4px 8px;
}
input {
  font-size: 2rem;
  text-align: center;
  width: 100px;
  max-width: 100%;
}
button {
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border-style: outset;
  display: inline-block;
  margin: 0;
  background: white;
  color: black;
  &.selected {
    background: black;
    border-style: inset;
    color: white;
    border-color: white;
  }
}

.App {
  font-size: 12px;
  position: relative;
  font-family: "Press Start 2P", sans-serif;
  background: #333;
  height: 100vh;
  width: 100vw;
}
.ControlsMenuButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}
.Controls {
  &.hide {
    opacity: 0;
    @media screen and (min-width: 600px) {
      transform: translate(-50%, -100%);
    }
  }
  &.show {
    opacity: 1;
    @media screen and (min-width: 600px) {
      transform: translate(-50%, 0);
    }
  }
  @media screen and (max-width: 599px) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  transition: 0.3s all ease-in-out;
  background: black;
  padding: 1rem;
  color: white;
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  // width: 300px;
  // height: 320px;
  z-index: 1;
  padding-bottom: 2rem;
  border: 8px solid white;
  box-shadow: 0px 0px 0px 8px black;
}
.Image {
  display: grid;
  width: 100vw;
  height: 100vh;

  &.GradientMethod {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(128, 1fr);
  }
  &.DivMethod {
    grid-template-columns: repeat(256, 1fr);
    grid-template-rows: repeat(128, 1fr);

    .Pixel {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
  &.SvgMethod {
    .SvgBackground {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: 2s all ease-in-out;
    }
  }

  &.OriginalSize {
    &.GradientMethod {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(128, 1fr);
      width: 256px;
      height: 128px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.DivMethod {
      grid-template-columns: repeat(256, 1px);
      grid-template-rows: repeat(128, 1px);
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
    }
    &.SvgMethod {
      .SvgBackground {
        background-size: 256px 128px;
      }
    }
  }
}
